

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.App {
  text-align: center;
  background-color: #2a303c;
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  color: rgb(220, 223, 230);
}
.App-header {
  width: 80%;
  height: 15rem;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;



}

.logo-container {
  width: 50%;
  height: auto;

  
}

.logo{
  position: relative;
  width: 18%;
  height: auto;
}


.satelite {
  position: absolute;
   width: 3%;
   height: auto;
  opacity: 1; 

}

.orbit {
  opacity: 1;
  animation: orbit 2s linear 1s infinite alternate;

}

@keyframes orbit {
  0% {
    transform: translateY(100%) rotate(80deg);
  }
  100% {
    transform: translateY(0%);
  }
}
.pick {
  font-size: 1.2rem;
  margin: 1rem;
}

.info-api {
  width: 100%;
display: flex;
align-items: end;
}


.info-container {
  margin: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
  
}
.date-picker {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  
}

input {
border-right: none;
  font-size: 1.125rem;
  height: 4rem;
width: 40%;
border-radius: 12px 0 0 12px;
background-color: rgb(229 231 235);
/* background-color: rgb(189, 196, 210); */
}

.submit {
background-color: #111318;
  font-size: 1.125rem;
  height: 4rem;
  min-height: 4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-top: 0.1rem;
  border: none;
  border-radius: 0 12px 12px 0;
  color: hsla(220 13% 69% / 1);
}
.info-api {
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.image-container {
  width: 80%;
}

img {
  width: 100%;
height: auto;
}
.info {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
p, h2 {
color: rgb(229 231 235);
margin: 0.8rem;

}


@media (min-width: 501px) and (max-width: 800px) {
  .satelite {
    width: 8%; 
    }
    .logo {
      width: 40%;
    }
}

@media (min-width: 801px) and (max-width: 980px) {
  .satelite {
    width: 7%; 
    }
    .logo {
      width: 34%;
    }
}

@media (max-width: 500px) {

  .App-header {
    height: 11rem;
  }
  .satelite {
    width: 8%; 
    }
    .logo {
      width: 50%;
    }
  input {
    width: 50%;
  }
input,
.submit {
  font-size: 1rem;
  height: 3.8rem;
}

.date-picker {
  width: 100%;
}

.image-container {
  width: 100%;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.7rem;
}
p {
  font-size: 1.1rem;
  font-weight: bold;
}
}
